:root {
  --color-honey: #f0ba4e;
  --color-mint: #08c785;
  --color-gray: #a1a0a0;
  --color-charcoal: #4b565e;
  --color-light: #f5f5f5;
  --color-silver: #c9cfcc;
  --color-coral: #fa5d69;
  --color-white: #ffffff;
  --color-light-text: #f9fafb;
  --color-graphite: #3c3c3b;
  --color-red: #ff0000;
}
