<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top">
      <div class="footer__left footer__width">
        <div class="footer__logo">
          <img src="/assets/images/logo/construction_logo.svg" alt="logo" />
        </div>
        <div class="footer__contacts">
          <div class="footer__contact footer__contact--phone">
            <div class="footer__icon footer__icon--phone">
              <img src="/assets/icons/footer/phone.png" alt="" />
            </div>
            <div class="footer__descr">
              <div class="footer__title">Контактный телефон</div>
              <span>+ 7 (812) 309-09-34</span>
              <span>+ 7 (965) 084-29-09</span>
            </div>
          </div>
          <div class="footer__contact footer__contact--mail">
            <div class="footer__icon footer__icon--mail">
              <img src="/assets/icons/footer/sms.png" alt="" />
            </div>
            <div class="footer__descr">
              <div class="footer__title">Электронная почта</div>
              <span>tustin78.mail.ru</span>
              <span>info.tustin.ru</span>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__right footer__width">
        <div class="footer__question">Остались вопросы?</div>
        <p class="footer__text">
          Узнавайте первым о скидках, предложениях и событиях еженедельно в
          своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.
        </p>
        <form class="footer__form" action="">
          <input
            class="footer__input"
            placeholder="Введите свою почту"
            type="text"
          />
          <button class="footer__button" type="button">Отправить</button>
        </form>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__links">
        <a class="footer__link" href="#">Главная</a>
        <a class="footer__link" href="#">О компании</a>
        <a class="footer__link" href="#">Каталог</a>
      </div>
      <div class="footer__icons">
        <div class="footer__icons-items">
          <a href="#" class="footer__icon-link"
            ><img src="/assets/icons/footer/fb.png" alt=""
          /></a>
          <a href="#" class="footer__icon-link"
            ><img src="/assets/icons/footer/youtube.png" alt=""
          /></a>
          <a href="#" class="footer__icon-link"
            ><img src="/assets/icons/footer/whatsapp.png" alt=""
          /></a>
        </div>
        <div class="footer__date">© 2021-2022, EDE</div>
      </div>
    </div>
  </div>
</footer>
