.footer {
  background-color: var(--color-charcoal);

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 34px 0 52px 0;
  }

  &__width {
    width: 660px;
  }

  &__contacts {
    display: flex;
    gap: 56px;
  }

  &__contact {
    display: flex;
    gap: 12px;
  }

  &__descr {
    display: flex;
    flex-direction: column;
    gap: 8px;
    & > span {
      font-weight: 500;
      font-size: 16px;
      color: var(--color-white);
    }
  }

  &__title {
    font-weight: 400;
    font-size: 12px;
    color: var(--color-silver);
  }

  &__right {
    padding: 34px 0px 34px 126px;
    border-left: 1px solid var(--color-charcoal);
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: var(--color-silver);
  }

  &__question {
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    color: var(--color-white);
  }

  &__form {
    margin-top: 32px;
    width: 534px;
    height: 48px;
    padding-left: 24px;
    border: 1px solid var(--color-honey);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button {
    padding: 12px 19px;
    background: var(--color-honey);
    border-radius: 30px;
    border: none;
    margin: 3px;
  }
  &__input {
    background-color: var(--color-charcoal);
    border: none;
    min-width: 70%;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 53px;
    padding-top: 34px;
    padding-bottom: 32px;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
  }

  &__icons-items {
    display: flex;
    gap: 20px;
  }

  &__links {
    display: flex;
    gap: 28px;
  }

  &__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-white);
  }

  &__date {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-silver);
  }
}
