:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main {
    flex: 1 0 auto;
    background-color: var(--color-light);
    padding-bottom: 48px;
  }

  .footer {
    flex-shrink: 0;
  }
}
