<header class="header">
  <div class="header__top">
    <div class="header__top-container container">
      <div class="header__top-left">
        <a class="header__top-logo" href="/">
          <img src="/assets/images/logo/construction_logo.svg" alt="Логотип" />
        </a>

        <nav class="header__top-menu">
          <ul class="header__top-list">
            <li class="header__top-item">
              <a routerLink="/" class="header__top-link">Главная</a>
            </li>

            <li class="header__top-item">
              <a class="header__top-link">О компании</a>
            </li>

            <li class="header__top-item">
              <a class="header__top-link">Каталог</a>
            </li>

            <li class="header__top-item">
              <a routerLink="/users" class="header__top-link">Пользователи</a>
            </li>

            <li class="header__top-item">
              <a routerLink="/todos" class="header__top-link">Задачи</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="header__top-right">
        <a class="header__top-number" href="#">
          <img src="/assets/icons/header-top/phone.svg" alt="telephone" />
          <span>+7 (965) 084-29-29</span>
        </a>

        <a class="header__top-favorite" href="#">
          <img src="/assets/icons/header-top/favorite.svg" alt="favorite" />
        </a>

        <a class="header__top-cart" href="#">
          <img src="/assets/icons/header-top/cart.png" alt="cart" />
          <span>Пусто</span>
        </a>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="header__bottom-container container">
      <div class="header__bottom-left">
        <div class="header__bottom-catalog">
          <div class="header__bottom-catalog-burger">
            <img src="/assets/icons/header-bottom/burger.png" alt="burger" />

            <span>Каталог</span>
          </div>
          <nav class="header__bottom-nav">
            <ul class="header__bottom-catalog-list">
              <li class="header__bottom-catalog-item">Стройматериалы</li>
              <li class="header__bottom-catalog-item">Инструменты</li>
              <li class="header__bottom-catalog-item">Электрика</li>
              <li class="header__bottom-catalog-item">Интерьер и одежда</li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="header__bottom-right">
        <div class="header__bottom-search">
          <input
            type="text"
            name="search"
            placeholder="Поиск, например Круг зачистной "
          />
          <div class="header__bottom-search-icon">
            <img src="/assets/icons/header-bottom/search.svg" alt="Поиск" />
          </div>
        </div>

        <div class="header__bottom-location">
          <div class="header__bottom-location-icon">
            <img src="/assets/icons/header-bottom/location.png" alt="Локация" />
          </div>

          <div class="header__bottom-location-text">Москва</div>
        </div>
      </div>
    </div>
  </div>
</header>
